<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"></head>
<body>
    <div th:replace="commons/menu :: menu"></div>
    
    <div class="container-fluid">
        <form class="row g-3" method="post" th:action="@{/usuarios/update}">
            <div class="col-md-4">
              <label for="codigo" class="form-label">Código</label>
              <input type="codigo" class="form-control" id="codigo" name="codigo" th:value="${usuario.codigo}" readonly>
            </div>
            <div class="col-md-4">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="nombre" class="form-control" id="nombre" name="nombre" th:value="${usuario.nombre}">
            </div>
            <div class="col-md-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" disabled class="form-control" id="password" name="password" th:value="hkjhhkjhkjhkjjkh">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" name="email" th:value="${usuario.email}">
            </div>

            <div class="col-md-4">
              <label class="form-label">Permisos:</label>
              <div class="form-check form-switch">
                <label th:each="permiso : ${permisos}">
                  <input type="checkbox" th:value="${permiso.codigo}" name="permisosSeleccionados" th:checked="${permisosSeleccionados != null and #lists.contains(permisosSeleccionados, permiso)}" />
                  <span th:text="${permiso.descripcion}"></span>
                </label>
              </div>
            </div>
            
            <div class="col-1">
                <a th:href="@{/usuarios/list}" href="list.html" class="btn btn-primary">Cancelar</a>
            </div>
            <div class="col-1">
                <input type="submit" class="btn btn-primary" value="Actualizar"></input>
            </div>
        </form>        
    </div>
   
    <div th:replace="commons/footer :: footer" class="container"></div>
</body>
</html>