<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"></head>
<body>
    <div th:replace="commons/menu :: menu"></div>
    
    <div class="container-fluid">
        <form class="row g-3" method="post" th:action="@{/reparaciones/save}">
              <div class="col-md-4">
                <label for="vehiculo_codigo" class="form-label">Vehículo</label>
                <input type="text" class="form-control" id="vehiculo_codigo" name="vehiculo_codigo">
              </div>
              <div class="col-md-4">
                <label for="mecanico" class="form-label">Mecánico</label>
                <input type="text" class="form-control" id="mecanico" name="mecanico">
            </div>
            <div class="col-md-4">
                <label for="fechaEntrada" class="form-label">Fecha entrada</label>
                <input type="text" class="form-control" id="fechaEntrada" name="fechaEntrada">
            </div>
            <div class="col-md-4">
                <label for="fechaSalida" class="form-label">Fecha salida</label>
                <input type="text" class="form-control" id="fechaSalida" name="fechaSalida">
            </div>
            <div class="col-md-8">
              <label for="mecanicaGeneralSalida" class="form-label">Kilómetros salida</label>
              <input type="text" class="form-control" id="mecanicaGeneralSalida" name="mecanicaGeneralSalida">
            </div>
            <div class="col-md-8">
              <label for="descripcion" class="form-label">Descripción</label>
              <input type="text" class="form-control" id="descripcion" name="descripcion">
            </div>
            <div class="col-md-8">
                <label for="estado" class="form-label">Estado</label>
                <input type="text" class="form-control" id="estado" name="estado">
            </div>
            <div class="col-md-8">
              <label for="observaciones" class="form-label">Observaciones</label>
              <input type="text" class="form-control" id="observaciones" name="observaciones">
            </div>
            <div class="mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input type="text" class="form-control" id="precio" name="precio">
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="mecanicaGeneral" name="mecanicaGeneral">
              <label for="mecanicaGeneral" class="form-check-label">Mecánica general</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="diagnostico" name="diagnostico">
              <label for="diagnostico" class="form-label">Diagnóstico</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="inyeccion" name="inyeccion">
              <label for="inyeccion" class="form-label">Inyección</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="preItv" name="preItv">
              <label for="preItv" class="form-label">Pre ITV</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="frenos" name="frenos">
              <label for="frenos" class="form-label">Frenos</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="suspension" name="suspension">
              <label for="suspension" class="form-label">Suspensión</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="aceite" name="aceite">
              <label for="aceite" class="form-label">Aceite</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="filtros" name="filtros">
              <label for="filtros" class="form-label">Filtros</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="neumaticos" name="neumaticos">
              <label for="neumaticos" class="form-label">Neumáticos</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="revisionOficial" name="revisionOficial">
              <label for="revisionOficial" class="form-label">Revisión oficial</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="matriculas" name="matriculas">
              <label for="matriculas" class="form-label">Matrículas</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="bateria" name="bateria">
              <label for="bateria" class="form-label">Batería</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="correas" name="correas">
              <label for="correas" class="form-label">Correas</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="chapaPintura" name="chapaPintura">
              <label for="chapaPintura" class="form-label">Chapa/Pintura</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="equilibradoAlineacion" name="equilibradoAlineacion">
              <label for="equilibradoAlineacion" class="form-label">Equilibrado/Alineación</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="sistemaEscape" name="sistemaEscape">
              <label for="sistemaEscape" class="form-label">Sistema escape</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="climaticacion" name="climaticacion">
              <label for="climaticacion" class="form-label">Climaticación</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="electricidadElectronica" name="electricidadElectronica">
              <label for="electricidadElectronica" class="form-label">Electricidad/Electrónica</label>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" id="ventaRecambios" name="ventaRecambios">
              <label for="ventaRecambios" class="form-label">Venta recambios</label>
            </div>
            <div class="col-1">
                <a th:href="@{/reparaciones/list}" href="list.html" class="btn btn-primary">Cancelar</a>
            </div>
            <div class="col-1">
                <input  type="submit" class="btn btn-primary" value="Crear"></input>
            </div>
        </form>
    </div>

    <div th:replace="commons/footer :: footer" class="container"></div>
</body>
</html>