<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"></head>
<body>
    <div th:replace="commons/menu :: menu"></div>
    
    <div class="container-fluid">
        <form class="row g-3" method="post" th:action="@{/reparaciones/update}">
          <div class="col-md-4">
            <label for="codigo" class="form-label">Código</label>
            <input type="text" class="form-control" id="codigo" name="codigo" th:value="${reparacion.codigo}" readonly>
          </div>
          <div class="col-md-4">
            <label for="vehiculo" class="form-label">Código vehículo</label>
            <input type="text" class="form-control" id="vehiculo" name="vehiculo" th:value="${reparacion.vehiculo.codigo}">
          </div>
          <div class="col-md-4">
            <label for="mecanico" class="form-label">Código mecánico</label>
            <input type="text" class="form-control" id="mecanico" name="mecanico" th:value="${reparacion.mecanico.codigo}">
          </div>
          <div class="col-md-4">
            <label for="vehiculo" class="form-label">Vehículo</label>
            <input type="text" class="form-control" id="vehiculo" name="vehiculo" th:value="${reparacion.vehiculo.matricula}">
          </div>
          <div class="col-md-4">
            <label for="mecanico" class="form-label">Mecánico</label>
            <input type="text" class="form-control" id="mecanico" name="mecanico" th:value="${reparacion.mecanico.dni}">
          </div>
           <!--   <div class="col-md-4">
            <label for="codigoVehiculo" class="form-label">Código vehículo</label>
            <input type="text" class="form-control" id="codigoVehiculo" name="codigoVehiculo" th:value="${reparacion.vehiculo.codigo}">
          </div>
          <div class="col-md-4">
            <label for="codigoMecanico" class="form-label">Código mecánico</label>
            <input type="text" class="form-control" id="codigoMecanico" name="codigoMecanico" th:value="${reparacion.mecanico.codigo}">
          </div>
          
           -->
          <div class="col-md-4">
            <label for="fechaEntrada" class="form-label">Fecha entrada</label>
            <input type="text" class="form-control" id="fechaEntrada" name="fechaEntrada" th:value="${reparacion.fechaEntrada}">
          </div> 
          <div class="col-md-4">
            <label for="fechaSalida" class="form-label">Fecha salida</label>
            <input type="text" class="form-control" id="fechaSalida" name="fechaSalida" th:value="${reparacion.fechaSalida}">
          </div>
          <div class="col-md-8">
            <label for="kilometrosSalida" class="form-label">Kilómetros salida</label>
            <input type="text" class="form-control" id="kilometrosSalida" name="kilometrosSalida" th:value="${reparacion.kilometrosSalida}">
          </div>
          <div class="col-md-8">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" th:value="${reparacion.descripcion}">
          </div>
          <div class="col-md-8">
              <label for="estado" class="form-label">Estado</label>
              <input type="text" class="form-control" id="estado" name="estado" th:value="${reparacion.estado}">
          </div>
          <div class="col-md-8">
            <label for="observaciones" class="form-label">Observaciones</label>
            <input type="text" class="form-control" id="observaciones" name="observaciones" th:value="${reparacion.observaciones}">
          </div>
          <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="text" class="form-control" id="precio" name="precio" th:value="${reparacion.precio}">
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="mecanicaGeneral">Mecánica general</label>
                <input class="form-check-input" type="checkbox" id="mecanicaGeneral" name="mecanicaGeneral" th:checked="${reparacion.mecanicaGeneral}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="diagnostico">Diagnóstico</label>
                <input class="form-check-input" type="checkbox" id="diagnostico" name="diagnostico" th:checked="${reparacion.diagnostico}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="inyeccion">Inyección</label>
                <input class="form-check-input" type="checkbox" id="inyeccion" name="inyeccion" th:checked="${reparacion.inyeccion}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="preItv">Pre ITV</label>
                <input class="form-check-input" type="checkbox" id="preItv" name="preItv" th:checked="${reparacion.preItv}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="frenos">Frenos</label>
                <input class="form-check-input" type="checkbox" id="frenos" name="frenos" th:checked="${reparacion.frenos}" >
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="suspension">Suspensión</label>
                <input class="form-check-input" type="checkbox" id="suspension" name="suspension" th:checked="${reparacion.suspension}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="aceite">Aceite</label>
                <input class="form-check-input" type="checkbox" id="aceite" name="aceite" th:checked="${reparacion.aceite}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="filtros">Filtros</label>
                <input class="form-check-input" type="checkbox" id="filtros" name="filtros" th:checked="${reparacion.filtros}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="neumaticos">Neumáticos</label>
                <input class="form-check-input" type="checkbox" id="neumaticos" name="neumaticos" th:checked="${reparacion.neumaticos}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="revisionOficial">Revisión oficial</label>
                <input class="form-check-input" type="checkbox" id="revisionOficial" name="revisionOficial" th:checked="${reparacion.revisionOficial}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="matriculas">Matrículas</label>
                <input class="form-check-input" type="checkbox" id="matriculas" name="matriculas" th:checked="${reparacion.matriculas}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="bateria">Batería</label>
                <input class="form-check-input" type="checkbox" id="bateria" name="bateria" th:checked="${reparacion.bateria}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="correas">Correas</label>
                <input class="form-check-input" type="checkbox" id="correas" name="correas" th:checked="${reparacion.correas}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="chapaPintura">Chapa/Pintura</label>
                <input class="form-check-input" type="checkbox" id="chapaPintura" name="chapaPintura" th:checked="${reparacion.chapaPintura}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="equilibradoAlineacion">Equilibrado/Alineación</label>
                <input class="form-check-input" type="checkbox" id="equilibradoAlineacion" name="equilibradoAlineacion" th:checked="${reparacion.equilibradoAlineacion}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="sistemaEscape">Sistema escape</label>
                <input class="form-check-input" type="checkbox" id="sistemaEscape" name="sistemaEscape" th:checked="${reparacion.sistemaEscape}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="climaticacion">Climaticación</label>
                <input class="form-check-input" type="checkbox" id="climaticacion" name="climaticacion" th:checked="${reparacion.climaticacion}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="electricidadElectronica">Electricidad/Electrónica</label>
                <input class="form-check-input" type="checkbox" id="electricidadElectronica" name="electricidadElectronica" th:checked="${reparacion.electricidadElectronica}" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check">
                <label class="form-check-label" for="ventaRecambios">Venta recambios</label>
                <input class="form-check-input" type="checkbox" id="ventaRecambios" name="ventaRecambios" th:checked="${reparacion.ventaRecambios}" >
            </div>
          </div>
          <div class="col-1">
            <a th:href="@{/vehiculos/edit/} + ${reparacion.vehiculo.codigo}" href="edit.html" class="btn btn-primary">Cancelar</a>
        </div>
          <div class="col-1">
              <input type="submit" class="btn btn-primary" value="Actualizar"></input>
          </div>
        </form>
    </div>

    <div th:replace="commons/footer :: footer" class="container"></div>
</body>
</html>