<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"></head>
<body>
    <div th:replace="commons/menu :: menu"></div>
    
    <div class="container-fluid">
        <form class="row g-3" method="post" th:action="@{/reparaciones/update}">
          <div class="col-md-4">
            <label for="vehiculo" class="form-label">Vehículo</label>
            <input type="text" class="form-control" id="vehiculo" name="vehiculo" th:value="${reparacion.vehiculo.codigo}">
          </div>
          <div class="col-md-4">
            <label for="mecanico" class="form-label">Mecánico</label>
            <input type="text" class="form-control" id="mecanico" name="mecanico" th:value="${reparacion.mecanico.codigo}">
        </div>
          <div class="col-md-4">
            <label for="fechaEntrada" class="form-label">Fecha entrada</label>
            <input type="text" class="form-control" id="fechaEntrada" name="fechaEntrada" th:value="${reparacion.fechaEntrada}">
          </div> 
          <div class="col-md-4">
            <label for="fechaSalida" class="form-label">Fecha salida</label>
            <input type="text" class="form-control" id="fechaSalida" name="fechaSalida" th:value="${reparacion.fechaSalida}">
          </div>
          <div class="col-md-8">
            <label for="kilometrosSalida" class="form-label">Kilómetros salida</label>
            <input type="text" class="form-control" id="kilometrosSalida" name="kilometrosSalida" th:value="${reparacion.kilometrosSalida}">
          </div>
          <div class="col-md-8">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" th:value="${reparacion.descripcion}">
          </div>
          <div class="col-md-8">
              <label for="estado" class="form-label">Estado</label>
              <input type="text" class="form-control" id="estado" name="estado" th:value="${reparacion.estado}">
          </div>
          <div class="col-md-8">
            <label for="observaciones" class="form-label">Observaciones</label>
            <input type="text" class="form-control" id="observaciones" name="observaciones" th:value="${reparacion.observaciones}">
          </div>
          <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="text" class="form-control" id="precio" name="precio" th:value="${reparacion.precio}">
          </div>
          <div class="mb-3">
            <label for="mecanicaGeneral" class="form-check-label">Mecánica general</label>
            <input class="form-check-input" type="checkbox" id="mecanicaGeneral" name="mecanicaGeneral" th:value="${reparacion.mecanicaGeneral}">
          </div>
          <div class="mb-3">
            <label for="diagnostico" class="form-label">Diagnóstico</label>
            <input type="text" class="form-control" id="diagnostico" name="diagnostico" th:value="${reparacion.diagnostico}">
          </div>
          <div class="mb-3">
            <label for="inyeccion" class="form-label">Inyección</label>
            <input type="text" class="form-control" id="inyeccion" name="inyeccion" th:value="${reparacion.inyeccion}">
          </div>
          <div class="mb-3">
            <label for="preItv" class="form-label">Pre ITV</label>
            <input type="text" class="form-control" id="preItv" name="preItv" th:value="${reparacion.preItv}">
          </div>
          <div class="mb-3">
            <label for="frenos" class="form-label">Frenos</label>
            <input type="text" class="form-control" id="frenos" name="frenos" th:value="${reparacion.frenos}">
          </div>
          <div class="mb-3">
            <label for="suspension" class="form-label">Suspensión</label>
            <input type="text" class="form-control" id="suspension" name="suspension" th:value="${reparacion.suspension}">
          </div>
          <div class="mb-3">
            <label for="aceite" class="form-label">Aceite</label>
            <input type="text" class="form-control" id="aceite" name="aceite" th:value="${reparacion.aceite}">
          </div>
          <div class="mb-3">
            <label for="filtros" class="form-label">Filtros</label>
            <input type="text" class="form-control" id="filtros" name="filtros" th:value="${reparacion.filtros}">
          </div>
          <div class="mb-3">
            <label for="neumaticos" class="form-label">Neumáticos</label>
            <input type="text" class="form-control" id="neumaticos" name="neumaticos" th:value="${reparacion.neumaticos}">
          </div>
          <div class="mb-3">
            <label for="revisionOficial" class="form-label">Revisión oficial</label>
            <input type="text" class="form-control" id="revisionOficial" name="revisionOficial" th:value="${reparacion.revisionOficial}">
          </div>
          <div class="mb-3">
            <label for="matriculas" class="form-label">Matrículas</label>
            <input type="text" class="form-control" id="matriculas" name="matriculas" th:value="${reparacion.matriculas}">
          </div>
          <div class="mb-3">
            <label for="bateria" class="form-label">Batería</label>
            <input type="text" class="form-control" id="bateria" name="bateria" th:value="${reparacion.bateria}">
          </div>
          <div class="mb-3">
            <label for="correas" class="form-label">Correas</label>
            <input type="text" class="form-control" id="correas" name="correas" th:value="${reparacion.correas}">
          </div>
          <div class="mb-3">
            <label for="chapaPintura" class="form-label">Chapa/Pintura</label>
            <input type="text" class="form-control" id="chapaPintura" name="chapaPintura" th:value="${reparacion.chapaPintura}">
          </div>
          <div class="mb-3">
            <label for="equilibradoAlineacion" class="form-label">Equilibrado/Alineación</label>
            <input type="text" class="form-control" id="equilibradoAlineacion" name="equilibradoAlineacion" th:value="${reparacion.equilibradoAlineacion}">
          </div>
          <div class="mb-3">
            <label for="sistemaEscape" class="form-label">Sistema escape</label>
            <input type="text" class="form-control" id="sistemaEscape" name="sistemaEscape" th:value="${reparacion.sistemaEscape}">
          </div>
          <div class="mb-3">
            <label for="climaticacion" class="form-label">Climaticación</label>
            <input type="text" class="form-control" id="climaticacion" name="climaticacion" th:value="${reparacion.climaticacion}">
          </div>
          <div class="mb-3">
            <label for="electricidadElectronica" class="form-label">Electricidad/Electrónica</label>
            <input type="text" class="form-control" id="electricidadElectronica" name="electricidadElectronica" th:value="${reparacion.electricidadElectronica}">
          </div>
          <div class="mb-3">
            <label for="ventaRecambios" class="form-label">Venta recambios</label>
            <input type="text" class="form-control" id="ventaRecambios" name="ventaRecambios" th:value="${reparacion.ventaRecambios}">
          </div>
          <div class="col-1">
            <a th:href="@{/vehiculos/edit/} + ${reparacion.vehiculo.codigo}" href="edit.html" class="btn btn-primary">Cancelar</a>
        </div>
          <div class="col-1">
              <input type="submit" class="btn btn-primary" value="Actualizar"></input>
          </div>
        </form>
    </div>

    <div th:replace="commons/footer :: footer" class="container"></div>
</body>
</html>