<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="reparaciones">
    <p>
      Lista de reparaciones
    </p>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Mecánico</th>
          <th scope="col">Vehículo</th>
          <th scope="col">Fecha entrada</th>
          <th scope="col">Fecha salida</th>
          <th scope="col">Kilómetros salida</th>
          <th scope="col">Descripción</th>
          <th scope="col">Estado</th>
          <th scope="col">Observaciones</th>
          <th scope="col">Precio</th>
          <th scope="col">Mecánica general</th>
          <th scope="col">Diagnóstico</th>
          <th scope="col">Inyección</th>
          <th scope="col">Pre ITV</th>
          <th scope="col">Frenos</th>
          <th scope="col">Suspensión</th>
          <th scope="col">Aceite</th>
          <th scope="col">Filtros</th>
          <th scope="col">Neumáticos</th>
          <th scope="col">Revisión oficial</th>        
          <th scope="col">Matrículas</th>
          <th scope="col">Batería</th>
          <th scope="col">Correas</th>
          <th scope="col">Chapa/Pintura</th>
          <th scope="col">Equilibrado/Alineación</th>
          <th scope="col">Sistema escape</th>
          <th scope="col">Climaticación</th>
          <th scope="col">Electricidad/Electrónica</th>
          <th scope="col">Venta recambios</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
          <div th:each="reparacion : ${vehiculo.reparaciones}" th:href="@{/reparaciones/listar/}+${reparacion.codigo}" class="col-3">
              <tr>
                <th scope="row" th:text="${reparacion.codigo}">1</th>
                <td th:text="${reparacion.vehiculo.matricula}">2857JKQ</td>
                <td th:text="${reparacion.mecanico.dni}">2857JKQ</td>
                <td th:text="${reparacion.fechaEntrada}">2857JKQ</td>
                <td th:text="${reparacion.fechaSalida}">Audi</td>
                <td th:text="${reparacion.kilometrosSalida}">A3</td>
                <td th:text="${reparacion.descripcion}">2009/08/15</td>
                <td th:text="${reparacion.estado}">2009/08/15</td>
                <td th:text="${reparacion.observaciones}">VSSZZZ1MZ2R040807</td>
                <td th:text="${reparacion.precio}">Negro brillo</td>
                <td th:text="${reparacion.mecanicaGeneral}">coche</td>
                <td th:text="${reparacion.diagnostico}">75.257</td>
                <td th:text="${reparacion.inyeccion}">Juan Gómez</td>
                <td th:text="${reparacion.preItv}">Juan Gómez</td>
                <td th:text="${reparacion.frenos}">Juan Gómez</td>
                <td th:text="${reparacion.suspension}">Juan Gómez</td>
                <td th:text="${reparacion.aceite}">Juan Gómez</td>
                <td th:text="${reparacion.filtros}">Juan Gómez</td>
                <td th:text="${reparacion.neumaticos}">Juan Gómez</td>
                <td th:text="${reparacion.revisionOficial}">Juan Gómez</td>
                <td th:text="${reparacion.matriculas}">Juan Gómez</td>
                <td th:text="${reparacion.bateria}">Juan Gómez</td>
                <td th:text="${reparacion.correas}">Juan Gómez</td>
                <td th:text="${reparacion.chapaPintura}">Juan Gómez</td>
                <td th:text="${reparacion.equilibradoAlineacion}">Juan Gómez</td>
                <td th:text="${reparacion.sistemaEscape}">Juan Gómez</td>
                <td th:text="${reparacion.climaticacion}">Juan Gómez</td>
                <td th:text="${reparacion.electricidadElectronica}">Juan Gómez</td>
                <td th:text="${reparacion.ventaRecambios}">Juan Gómez</td>
                  <td>
                    <a th:href="@{/reparaciones/edit/} + ${reparacion.codigo}" href="edit.html">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </a>
                  </td>
                  <td>
                    <a th:href="@{/reparaciones/delete/}+${reparacion.codigo}" href="list.html">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                      </svg>
                    </a>
                  </td>
              </tr>
          </div>
      </tbody>
    </table>

   
  </div>
    
  <!--En la edición de propietario meter un listado de sus vehículos y botóncreación
    Dentro de la edición de vehículo meter un listado de reparaciones y unas altas de estas.
    Cuidado con el botón volver que te tiene que llevar a la página anterior y no a otra al azar
    Crear coche con el codigo del propietario directamente
    th:href="@{/vehiculos/create/}+${vehiculo.propietario.codigo}"
    th:href="@{/vehiculos/create/${vehiculo.propietario.codigo}}"
  -->
</body>
</html>