<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"></head>
<body>
    <div th:replace="commons/menu :: menu"></div>
    
    <div class="container-fluid">
        <form class="row g-3" method="post" th:action="@{/mecanicos/update}">
            <div class="col-md-4">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="nombre" class="form-control" id="nombre" name="nombre" th:value="${mecanico.nombre}">
            </div>
            <div class="col-md-4">
                <label for="apellido" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos" th:value="${mecanico.apellidos}">
            </div>
            <div class="col-md-8">
              <label for="dni" class="form-label">DNI</label>
              <input type="text" class="form-control" id="dni" name="dni" th:value="${mecanico.dni}">
            </div>
            <div class="col-md-8">
              <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
              <input type="text" class="form-control" id="fechaNacimiento" name="fechaNacimiento" th:value="${mecanico.fechaNacimiento}">
            </div>
            <div class="col-md-8">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion" th:value="${mecanico.direccion}">
            </div>
            <div class="col-md-8">
              <label for="telefono" class="form-label">Teléfono</label>
              <input type="text" class="form-control" id="telefono" name="telefono" th:value="${mecanico.telefono}">
            </div>
            <p>
              <div class="col-1">
                <a th:href="@{/mecanicos/list}" href="list.html" class="btn btn-primary">Cancelar</a>
              </div>
              <div class="col-1">
                <input type="submit" class="btn btn-primary" value="Actualizar"></input>
              </div>
            </p>
            
        </form>
    </div>

    <div th:replace="commons/footer :: footer" class="container"></div>
</body>
</html>