<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"></head>
<body>
    <div th:replace="commons/menu :: menu"></div>
    
    <div class="container-fluid">
        <form class="row g-3" method="post" th:action="@{/permisos/update}">
            <div class="col-md-4">
              <label for="codigo" class="form-label">Código</label>
              <input type="codigo" class="form-control" id="codigo" name="codigo" th:value="${permiso.codigo}" readonly>
            </div>
            <div class="col-md-4">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="descripcion" class="form-control" id="descripcion" name="descripcion" th:value="${permiso.descripcion}">
            </div>
            <div class="col-1">
                <a th:href="@{/permisos/list}" href="list.html" class="btn btn-primary">Cancelar</a>
            </div>
            <div class="col-1">
                <input type="submit" class="btn btn-primary" value="Actualizar"></input>
            </div>
        </form>        
    </div>
   
    <div th:replace="commons/footer :: footer" class="container"></div>
</body>
</html>